@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700;800;900&display=swap');

:root{
    --bg-primary: #FFFFFF;
    --bg-secondary: #4ECB71;
    --bg-secondary-2: #32C36C;
    --accent1: #EEE9E9;
    --accent2: #F8F8FA;
    --light-grey: #9B9B9B;

    --h1-size: 3.7rem;
    --h2-size: 48.83px;
    --h3-size: 39.06px;
    --h4-size: 31.25px;
    --h5-size: 25px;
    --h6-size: 20px;
}

body{
    color:  var(--light-grey);
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    background-color:  var(--accent1);
}

@media screen and (min-width: 1901px) {
    .navbar-nav{
        justify-content: end!important;
    }
}

nav{
    background-color:  var(--bg-primary);
}

.navbar-nav .nav-link.active,
.navbar-nav .nav-link:active,
.nav-link:focus, 
.nav-link:hover {
    color: var(--bg-secondary-2);
    font-weight: 700;
}

section, .footer-section{
    position: relative;
    padding-top: 4rem;
    padding-bottom:  4rem;
}

.hero-section{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: 75vh;
    min-height: 34.375rem;
    max-height: 60rem;
    min-width: 100%;
    background-image: url('../images/Hero-img-large.jpg');
    background-size: cover;
    /* background-position: top; */
}

.hero-overlay{
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 85, 44, 0.62);
}

.hero-content{
    position: relative;
    color: var(--bg-primary);
    z-index: 3;
}

.hero-content h1 {
    color: var(--bg-primary);
}

.hidden-sub-heading{
    display: none;
}

a{
    color:  var(--light-grey);
}



.services-section,
.product-section{
    background-color: var(--bg-primary);
}

.contact-section, footer{
    background-color:  var(--accent2);
}

h1,
h2,
h3,
h4,
h5,
h6{
    color: #616161;
}

/* 08033515757 - adekunbo */

h1{
    font-size:  var(--h1-size);
    line-height:  58px;
    color:#1E1D1D;
}

h2{
    font-size:  var(--h2-size);
    line-height: 50px;
}

h3{
    font-size:  var(--h3-size);
    line-height: 42px;
}

h4{
    font-size:  var(--h4-size);
    line-height: 34px;
}

h5{
    font-size:  var(--h5-size);
}

h6 {
    font-size:  var(--h6-size);   
}

.product-section .slider-container{
    background-color: var(--accent1);
}

.product-image{
    width:  289px;
    height:  332px;
}

.contact-icon{
    width:  32px;
}

.cta-section{
    padding-top:  6.25rem;
    padding-bottom:  6.25rem;
}

.cta-section h5{
    font-size: var(--h4-size);
}

.cta-btn{
    background-color:  var(--bg-secondary-2);
}

.btn:hover:not(.btn-menu),
.btn:focus:not(.btn-menu) {
    background-color:  var(--bg-secondary);
    border: 0;
    border-color: none;
    opacity: 0.9;
}




/****************************** Mobile Design ********************************/
@media screen and (max-width: 1400px){

    @media screen and (min-width: 768px) and (max-width: 992px)  {
        .navbar .container{
            gap: 2.3rem;
        }
        
        h1{
            font-size:  52px;
        }
        h2{
            font-size:  45px;
        }

        @media screen and (max-width: 812px){
            ul.navbar-nav{
                justify-content: start !important;
            }

            h1{
                line-height: 39px;
            }
        }

        @media screen and (max-width: 784px){
            h1{
                font-size:  44px;
                line-height: 41px;
            }
            h2{
                font-size:  37px;
                line-height: 42px;
            }
        }
    }

    @media screen and (min-width: 992px) {
        h1{
            font-size: 60px;
        }
    }   
}

@media screen and (max-width: 991px) {
    .services-icon{
        width:  3.125rem;
    }

    .contact-section .lagos-office{
        width: 187.27px;
    }

    .contact-section .delta-office{
        width: 207.41px;
    }
}

@media screen and (max-width: 767px) {
    .hero-content h1{
        font-size: var(--h3-size);
        line-height: 34px;
    }

    .services-icon{
        width:  2.5rem;
    }
}

@media screen and (max-width: 576px) {
    section, .footer-section{
        padding-top:  1.5rem;
        padding-bottom:  1.5rem;
    }

    .hero-section{
        min-height: initial;
        min-width: 100%;
    }

    .hero-content h1{
        font-size: var(--h3-size);
        line-height: 43px;
    }
    
    .cta-section{
        padding-top:  2.9rem;
        padding-bottom:  2.9rem;
    }

    .cta-section h5{
        font-size: var(--h6-size);
    }

    .services-text{
        width:  65%;
    }

    @media screen and (max-width: 521px) {
        .hidden-sub-heading{
            display: inline;
        }

        .hero-content h1:last-child{
            display: none;
        }
    }
   
}

@media screen and (max-width: 416px) {
    .services-text{
        width:  85%;
    }
}

@media screen and (max-width: 363px) {
    .footer-text{
        width:  65%;
    }
}

@media screen and (max-width: 333px) {
    .footer-text{
        width:  70%;
    }
}