/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600;700;800;900&display=swap'); */

:root{
    --bg-primary: #FFFFFF;
    --bg-secondary: #4ECB71;
    --bg-secondary-2: #32C36C;
    --accent1: #EEE9E9;
    --accent2: #F8F8FA;
    --light-grey: #9B9B9B;

    --h1-size: 4rem;
    --h2-size: 48.83px;
    --h3-size: 39.06px;
    --h4-size: 31.25px;
    --h5-size: 25px;
    --h6-size: 20px;
}

body{
    color:  var(--light-grey);
    font-family: Poppins, system-ui,-apple-system,"Segoe UI",Roboto,"Helvetica Neue","Noto Sans","Liberation Sans",Arial,sans-serif,"Apple Color Emoji","Segoe UI Emoji","Segoe UI Symbol","Noto Color Emoji";
    background-color:  var(--accent1);
    background-image:  url(../images/hero-canvas-large.svg);
    background-position: 115% 0;
    /* background-size:  contain; */
    background-repeat:  no-repeat;
}

/* @media screen and (min-width: 1800px) {
    body{
        background-position: 1320px 0;
    }
} */

@media screen and (min-width: 1901px) {
    body{
        background-image: none;
    }
    .navbar-nav{
        justify-content: end!important;
    }
}

.hero-section{
    min-height: calc(781px + 45px);
    min-width: 100%;
}

.hero-section>div{
    margin-top: 5rem;
}

a{
    color:  var(--light-grey);
}

section, .footer-section{
    padding-top: 3.125rem;
    padding-bottom:  3.125rem;
}

.services-section,
.product-section{
    background-color: var(--bg-primary);
}

.contact-section, footer{
    background-color:  var(--accent2);
}

h1,
h2,
h3,
h4,
h5,
h6{
    color: #212529;
}

/* 08033515757 - adekunbo */

h1{
    font-size:  var(--h1-size);
    line-height:  58px;
    color:#1E1D1D;
}

h2{
    font-size:  var(--h2-size);
    line-height: 50px;
}

h3{
    font-size:  var(--h3-size);
    line-height: 42px;
}

h4{
    font-size:  var(--h4-size);
    line-height: 34px;
}

h5{
    font-size:  var(--h5-size);
}

h6 {
    font-size:  var(--h6-size);   
}

nav{
    background-color:  transparent;
}

.product-section .slider-container{
    background-color: var(--accent1);
}

.product-image{
    width:  289px;
    height:  332px;
}

.contact-icon{
    width:  32px;
}

.cta-section{
    padding-top:  6.25rem;
    padding-bottom:  6.25rem;
}

.cta-section h5{
    font-size: var(--h4-size);
}

.cta-btn{
    background-color:  var(--bg-secondary);
}

.btn:hover,
.btn:focus {
    background-color:  var(--bg-secondary);
    border-color: none;
    opacity: 0.7;
}




/****************************** Mobile Design ********************************/
@media screen and (max-width: 1400px){
    @media screen and (min-width: 992px) {
        body{
            background-position: 210% -70px;
            /* background-size:  auto 380px; */
        }
    
        .hero-section{
            min-height: calc(600px);
        }
        
        .hero-section>div{
            margin-top: 3rem;
        }
    
        h1{
            font-size:  60px;
        }
    
        .hero-img-wrapper{
            width: 380px;
        }
    
        @media screen and (min-width: 1031px) {
            body{
                background-position: 180% -60px;
                /* background-size:  auto 380px; */
            }
        
            .hero-section{
                min-height: calc(600px);
            }
        
            .hero-img-wrapper{
                width: 400px;
            }
        }
    }

    @media screen and (min-width: 1141px){
        body{
            background-position: 160% -50px;
            /* background-size:  auto 380px; */
        }
    
        .hero-section{
            min-height: calc(600px);
        }
    
        .hero-img-wrapper{
            width: 400px;
        }
    
        @media screen and (min-width: 1201px) {
            body{
                background-position: 150% -40px;
                /* background-size:  auto 380px; */
            }
        
            .hero-section{
                min-height: calc(670px);
            }
    
            h1{
                font-size:  63px;
            }
        
            .hero-img-wrapper{
                width: 420px;
            }
        }
    
        @media screen and (min-width: 1301px) {
            body{
                background-position: 130% -40px;
                /* background-size:  auto 380px; */
            }
        }
    }    
}

@media screen and (max-width: 991px) {
    .services-icon{
        width:  3.125rem;
    }

    .contact-section .lagos-office{
        width: 187.27px;
    }

    .contact-section .delta-office{
        width: 207.41px;
    }
}

@media screen and (max-width: 767px) {
    .services-icon{
        width:  2.5rem;
    }
}

@media screen and (max-width: 576px) {
    body{
        background-image:  url(../images/hero-canvas-small.svg);
        background-position: 100% 0;
        background-size:  auto 380px;
    }

    section, .footer-section{
        padding-top:  1.5rem;
        padding-bottom:  1.5rem;
    }

    .hero-section{
        min-height: initial;
        min-width: 100%;
    }
    
    .hero-section>div{
        margin-top: 0;
    }

    .hero-content h1,
    .hero-content h2{
        font-size: var(--h4-size);
        line-height: 34px;
    }

    .hero-img-wrapper > img{
        width: 270px;
    }

    .cta-section{
        padding-top:  2.9rem;
        padding-bottom:  2.9rem;
    }

    .cta-section h5{
        font-size: var(--h6-size);
    }

    .hero-content{
        margin-top: 2rem;
    }

    .services-text{
        width:  65%;
    }

    
    @media screen and (max-width: 520px) {
        body{
            background-size:  auto 370px;
        }

        .hero-img-wrapper > img{
            width: 250px;
        }
       
    }

    @media screen and (max-width: 480px) {
        body{
            background-position: 100% 0;
            background-size:  auto 360px;
        }
       
    }

    @media screen and (max-width: 408px) {
        body{
            background-position: 125% -7px;
            background-size:  initial;
        }

        .hero-img-wrapper > img{
            width: initial;
        }
       
    }
   
}

@media screen and (max-width: 416px) {
    .services-text{
        width:  85%;
    }
}

@media screen and (max-width: 363px) {
    .footer-text{
        width:  65%;
    }
}

@media screen and (max-width: 333px) {
    .footer-text{
        width:  70%;
    }
}